<?xml version="1.0" encoding="UTF-8"?>
<!-- Tests des exercices : ils pilotent le simulateur Docker (Forelse\DockerSim\Testing\DockerTestCase). -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Projet">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
